<a href="https://colab.research.google.com/github/Luskimc/Aulas-Phyton/blob/main/Estruturas_de_Controle_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula Programação - Variáveis

In [ ]:
print('Olá, pessoas!') #Imprimir texto
print( 8+10) #Imprimir operação matématica
print(8,'10') # Concatenando texto e número

Olá, pessoas!
18

In [ ]:
#Sabendo que os operadores matemáticos são # = - / *
# Imprima um exemplo de cada operação
print(10+10)
print(8-2)
print(130*3)
print(200/2)

20
6
390
100.0

In [ ]:
#Tipos de dados
print(type(5)) #tipos inteiros
print(type(2.0)) # pontos flutuantes (ou float)
print(type('maçâ')) #string (cadeias de caracteres)
print(type(5 > 20)) #booleanos (bool)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Variáveis

In [ ]:
a = 42
print(a)
a = 35
print(a)
a = 'tapioca' #Essa troca de tipo de dado, é devido a tipagem do phyton
print(a)

42
35
tapioca

In [ ]:
from posixpath import basename
a=10
b=20
#Façam as 4 operações matemáticas com a e b
print(a+b)
print(a-b)
print(a*b)
print(a/b)

30
-10
200
0.5

In [ ]:
a=25
b=33
c=12
#Algumas expressões
print (a*b/c)
print ((a+b)/c)
print ((a+b)/c)

68.75

In [ ]:
#Crie três variaveis para receber as notas de um aluno
#o algoritmo deve retornar a média do aluno

In [ ]:
nota1=8 #Entrada
nota2=3
nota3=9
media = (nota1+nota2+nota3)/3 #processamento
print(media) #saida

6.666666666666667

In [ ]:
nome= input('Digite seu nome:')
print('Olá,'+nome)

Digite seu nome:lucas
Olá,lucas

In [ ]:
# recebe a idade de uma pessoa e multiplica por 3
idade = int(input('digite sua idade'))
print (idade *3)

digite sua idade3
9

In [ ]:
#Recebe o raio de um circulo e calcula a sua área
#area = pi vezes o raio ao quadrado
raio =int(input('Digite o raio do circulo'))
area= 3.14*(raio*raio)
print(area)

Digite o raio do circulo5
78.5

In [ ]:
#reatoração
import math
raio= int(input('Digite o raio do circulo'))
area=math.pi*(raio**2)
print(area)
print(f"{area:.2f}")

Digite o raio do circulo360
407150.40790523717
407150.41

In [ ]:
num1 = float(input('Insira um numero: '))
num2 = float(input('Insira um numero: '))

print (num1 + num2)
print (num1 % num2)

30
-10
200
0.5

In [ ]:
peso = float(input("Digite seu peso em kg: "))
altura = float(input("Digite sua altura em metros: "))

IMC = peso / altura**2
print(IMC)

#print (round(IMC, 2)) casas decimais

Digite seu peso em kg: 58
Digite sua altura em metros: 1.75
18.93877551020408

In [ ]:
nome = input('Coloque o nome: ')
rua = input('Nome da rua: ')
numero = input ('Numero ')
bairro = input('Bairro ')
cidade = input('Cidade ')
CEP = input('CEP - apenas numeros: ')

print(f"(nome), residente a rua (rua), (numero), (bairro), (cidade), (CEP)")

Coloque o nome: lucas
Nome da rua: rua sai pedro
Numero 100
Bairro mandaca
Cidade joao pessoa
CEP - apenas numeros: 594442
(nome), residente a rua (rua), (numero), (bairro), (cidade), (CEP)

In [ ]:
temp = float(input('Qual a temperatura '))

tempFah = (temp * 9/5) +32
print(tempFah)

Qual a temperatura 66
150.8

In [ ]:
#Recebe a idade do individuo e informa se ele é maior de idade

idade = 20

if idade > 18:
   print('E maior de idade')

In [ ]:
#Recebe a idade do individuo e informa se ele é maior de idade

idade = 17

if idade > 18:
   print('E maior de idade')
else:
  print('É mior de idade')

É mior de idade

In [ ]:
idade = 5

if idade >= 60:
  print('É idoso')
elif idade >= 35:
  print('Meia idade!')
elif idade  >= 18:
  print('Adulto!')
else:
  print ('Tu soi de menor!')

Tu soi de menor!

In [ ]:

valor = float(input("Digite o valor total da compra: "))
if valor >= 100:
    print('Sem desconto')
elif valor <=500 :
  print(valor*0.1)
elif valor compra <= 1000:
  print (valor compra * 0.2)

Digite o valor total da compra: 101

In [ ]:
#Pergunta a idade ao usuario e se tem CNH, caso satisfaça as duas condiçoes

idade = 20
temCNH = True

if idade > 18:
  if temCNH:
     print('Pode dirigir')
  else:
    print ('Sem Habilitação, não pode dirigir!')

else:
  print('Menor de idade não pode dirigir')

In [ ]:
numero = int(input("Digite um número inteiro: "))


if numero % 2 == 0:
    print(numero, "é um número par.")
else:
    print(numero, "é um número ímpar.")

Digite um número inteiro: 2
2 é um número par.

In [ ]:
num1 = int(input('Diigite um numero:'))
num2 = int(input('Digite outro numero:'))

if num1 > num2:
  print(f'O número {num1} é maior')
elif num1 < num2:
  print(f'O número {num2} é maior')
else:
  print('Eles são iguais!')

Diigite um numero:2
Digite outro numero:2
Eles são iguais!

In [ ]:
#Contador com for
for numero in range(1, 11):
  print(numero)

In [ ]:
#Contagem regressiva
for numero in range(10, 0, -1):
  print(numero)

In [ ]:
soma = o
for numero in range(1, 11):
  if num % 2 != 0:
    print(num)

In [ ]:
#BONUS - trabalhando com números randomicos

import random
numero = random.randint(0, 100)
print(numero)