<a href="https://colab.research.google.com/github/LucasMelloc/Aulas-Phyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Imprimir lista
frutas = ['banana', 'maça', 'limao']
print(frutas)

In [ ]:
#identifcar o tamanho de uma mista len (lista)
print(len(frutas))

In [ ]:
# Count() - quantas vezes um valor aparece
frutas = ['maça', 'banana', 'laranja', 'laranja', 'laranja', 'laranja','laranja',]
print(frutas.count('laranja'))

In [ ]:
#Imprimir elementos da lista pelo índice
carros = ['gol', 'uno', 'fiesta', 'lada', 'marajo', 'voyage', 'santana']

print(carros[0]) #gol
print(carros[1]) #uno
print(carros[2]) #fiesta
print(carros[-1]) #santana
print(carros[2:5]) #slice do índice 2 ao índice 4
print(carros[:4]) #slice até o indice 3
print(carros[2:]) #slice a partir do indice 2
#print(carros[7]) OUT OF INDEX

gol
uno
fiesta
santana
['fiesta', 'lada', 'marajo']
['gol', 'uno', 'fiesta', 'lada']
['fiesta', 'lada', 'marajo', 'voyage', 'santana']

In [ ]:
#Adicionar elementos em uma lista  lista.append('elemento)

frutas.append('goiaba')
print(frutas)

In [ ]:
#Faça um código que pede que o usuário digite frutas e
#Insere frutas na lista

frutas = input('Por favor insira uma frutas: ')
frutas.append(frutas)
print(frutas)

In [ ]:
#Faça um laço o qual solicita ao usúario que digite
#o nome de um carro para inseri-lo na lista
#ele para quando o usuário digitar o número 0.
#Ao final, imprime a lista e o seu tamanho.

carros = []

carro = input('Digite o carro ')

while carro != '0':
    carros.append(carro)
    carro = input('Digite o carro:' )
print(carros)
print(len(carros))

Digite o carro uno
Digite o carro:corsa
Digite o carro:0
['uno', 'corsa']
2

In [ ]:
numero = int (input('Digite um número: '))
if numero in lista:
  print(lista.count(numero))
else:
  print('numero não existe na lista')

In [ ]:
#pop ()
carros.pop(3)
print(carros)

In [ ]:
#pop pelo indice
lista = ["maça", "banana", "laranja"]
indice = lista.index("banana") #Encontra o índice de "banana"
lista.poop(indice) #Remove pelo índice
print(lista) #Saida: ['maçã', 'laranja']

In [ ]:
#del list[index]
nums = [4, 5, 3, 2, 6, 8]

del nums[3]
print(nums)

In [ ]:
lista = ['jaca', 'melão', 'manga', 'graviola', 'jaca', 'maca', 'banana', 'banana', 'jaca',]

fruta_remover = 'jaca'

lista = [x for x in lista if x != fruta_remover]

print(lista)

In [ ]:
[notas = 6, 8 ,5 4, 7, 7, 9, 3, 6,]

In [ ]:
notas = [x for x in notas if x >= 6]
print(notas)

In [ ]:
tarefas = []

def add_tarefa():
  tarefa = input("Digite tarefa")
  tarefas.append(tarefa)
  print(tarefa "{tarefa}" adicionada'!)

In [ ]:
notas = [8, 9, 4, 3, 6,]
maiores = [nota for nota in notas if nota > 7]
print(maiores)

[8, 9]

In [ ]:
notas = [8, 9, 4 ,3, 6]
menores = [nota for nota in notas if nota <5]
print(menores)

[4, 3]

In [ ]:
#Criar umas lista com os quadrados dos números de 0 a 9
quadrados = [x**2  for x in range (10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Strings
nome = 'Lucas'
for letra in nome:
  print(letra)

  print(len(nome)) #Imprime o tamanho da string
  print(nome.upper()) #Todos os caracteres maiúsculos
  print(nome.lower()) #Todos os caracteres minusculos

In [ ]:
nomes = ['João', 'Ana', 'Epaminondas', 'Godofredo', 'Lair', 'Setembrino' ]

maisDe5 = [nome for nome in nomes if len(nome) > 4]
print(maisDe5)

['Epaminondas', 'Godofredo', 'Setembrino']

In [ ]:
#Caixa alta os nomes com 4 letras ou menos
caixaALTA = [nome.upper() for nome in nomes if len(nome) < 5]
print(caixaALTA)

['JOÃO', 'ANA', 'LAIR']

In [ ]:
#Atribiur 2 pontos as notas menores que 5

notas =[9.0, 4.5, 2.3, 6.0, 8.2, 5.3]
doispontos = [nota+2  for nota in notas if nota < 5]
print(doispontos)

[6.5, 4.3]

In [ ]:
soma = lambda a, b : a+b
print(soma(10,5))

15

In [ ]:
#list(map(funçãolabda, lista))
numeros = [2,3,4,5,6,7,]
quadrados = list(map (lambda x: x**2, numeros))
print(quadrados)

[4, 9, 16, 25, 36, 49]

In [ ]:
#Crie uma lista com o dobro de cada elemento
dobro = list(map(lambda x : x*2, numeros))
print(dobro)

[4, 6, 8, 10, 12, 14]

In [ ]:
#Converter uma lista de palavras para letras maiúsculas
palavras = ['é', 'Hoke', 'my', 'Consagrated']
Upper = list(map(lambda x : x.upper(), palavras))
print(Upper)

In [ ]:
#Filtrar apenas palavras com mais de 4 letras
nomes = ['Cristiano', 'Alien', 'Ary', 'Bete', 'Já']
filtro = list(filter(lambda x: len(x)>4, nomes))
print(filtro)

['Cristiano', 'Alien']

In [ ]:
#Filtrar numeros maiores que 10

numeros = [1, 5, 6, 10, 11, 15]
numeros= list (filter(lambda x: x > 10, numeros ))
print(numeros)

[11, 15]

In [ ]:
#Dado a lista abaixo :numeros [3,7,2,8,1,4,10]
#Responda as seguintes questoes
#Dobrar todos os números da lista
#Selecionar apenas os números pares
#Criar uma nova lista onde os números pares são dobrados e os ímpares permanecem iguais

In [ ]:
lista = [3,7,2,8,1,4,10]
dobro = list(map(lambda x: x*2, lista ))
print(dobro)

[6, 14, 4, 16, 2, 8, 20]

In [ ]:
pares = list(filter(lambda x : x % 2 == 0 ,numeros ))
print(pares)

[]